{{ template "base.layout.start" . }}
<section class="flex flex-col gap-24 justify-center">
    <h1 class="text-center text-3xl text-accent hover:text-accent-content font-semibold mt-32">
        <a href="https://github.com/emarifer" target="_blank">
            Here you can see something about me
        </a>
    </h1>

    <div class="w-fit mx-auto">
        <a href="/" class="btn btn-outline text-accent hover:text-accent-content hover:bg-accent capitalize">
            &#x2190; Go Home
        </a>
    </div>
</section>
{{ template "base.layout.end" . }}