{{ template "base.layout.start" . }}
<section>
    <h2 class="text-left text-xl mt-12 font-medium">Add Note</h2>

    <form class="grid grid-cols-7 my-4 gap-4 items-start" hx-post="/add-note" hx-target="#note-list"
        hx-indicator="#loading" hx-swap="afterbegin" hx-on::after-request="this.reset()"
        hx-headers='js:{"X-TimeZone": Intl.DateTimeFormat().resolvedOptions().timeZone}'>
        {{ block "new-note-form" . }}
        <div class="col-span-5 flex flex-col gap-4">
            <div class="flex flex-col gap-2">
                <label for="note-title">Title</label>
                <input type="text" name="title" id="note-title" class="input input-bordered" autofocus
                    value="{{ .FormTitle }}" />
                <span _="on click from #form-button put '' into me" class="text-xs text-red-700">
                    {{ .ErrTitle }}
                </span>
            </div>
            <div class="col-span-5 flex flex-col gap-2">
                <label for="note-description">Description</label>
                <input type="text" name="description" id="note-description" class="input input-bordered"
                    value="{{ .FormDescription }}" />
                <span _="on click from #form-button put '' into me" class="text-xs text-red-700">
                    {{ .ErrDescription }}
                </span>
            </div>
        </div>

        <button id="form-button" class="col-span-2 btn btn-accent mt-8">
            Submit
        </button>
        {{ end }}
    </form>
</section>

<span class="block mx-auto loading loading-spinner loading-lg htmx-indicator" id="loading"></span>

<section _="on scroll from window
if (window.scrollY > 200)
    show #buttonUp
else
    hide #buttonUp
end" class="grid grid-cols-7" hx-get="/notes" hx-trigger="load from:window" hx-indicator="#loading"
    hx-headers='js:{"X-TimeZone": Intl.DateTimeFormat().resolvedOptions().timeZone}'>
    {{ template "note-list" .}}
</section>
{{ template "base.layout.end" .}}